# Ignore node_modules directory
node_modules/

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore environment variable files
.env

# Ignore build directories
build/
dist/

# Ignore IDE/editor files
.vscode/
.idea/
*.swp

# Ignore OS files
.DS_Store
Thumbs.db